body {
  background-color: lightgray;
}

.modal__body-open {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

div#root {
  background-color: lightgray;
}

#content {
  padding-top: 60px;
  padding-bottom: 20px;
}

#brand-name {
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}

.flex {
  display: flex !important;
}

.col-dir {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center !important;
}

.row-dir.vert-center {
  align-items: center !important;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.wrap {
  flex-wrap: wrap !important;
}

.text-wrap {
  overflow-wrap: break-word;
}

.row-dir.hor-center {
  justify-content: center !important;
}

.text-center {
  text-align: center;
}

.medium {
  font-size: 1.4rem;
}

.box-shadow-none {
  box-shadow: none !important;
}

.mt-3 {
  margin-top: 10px !important;
}

.m-3 {
  margin: 14px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 3px !important;
}

.p-2 {
  padding: 6px !important;
}

.py-2 {
  padding: 6px 0 !important;
}

.pl-3 {
  padding-left: 10px !important;
}

.pl-2 {
  padding-left: 6px !important;
}

.pl-1 {
  padding-left: 3px !important;
}

.ui.bg-gray {
  background-color: lightgray;
}

.ui.no-border {
  box-shadow: none;
  border: none;
}

.link:hover {
  text-decoration: underline;
}

.full-width {
  width: 100% !important;
  max-width: 100% !important;
}

.meta {
  color: gray;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0 0.5rem;
}

.comment-reply {
  margin-left: 30px;
}

.icon.angle:hover {
  cursor: pointer;
  color: #fe9a76;
}

.orange-color {
  color: #fe9a76;
}

.icon.angle.pressed:hover {
  cursor: default;
}
